name: Minify
on:
    push:
        branches: [main]
permissions:
    contents: write

jobs:
    minify:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "16"
            - name: Install luamin
              run: npm install -g luamin
            - name: Minify files
              run: |
                  cat scheduler/scheduler.lua | luamin -c > scheduler/schedulermin.lua
            - name: Push changes
              uses: EndBug/add-and-commit@v9
              with:
                  message: Updated minified source files
                  default_author: github_actions
